/* ==========================================================================
							CLASS
   ========================================================================== */

/**
 * Coment Coment Coment Coment Coment Coment Coment 
 * Coment Coment Coment Coment Coment Coment Coment. 
 *
 * @package     Css
 * @subpackage  Libraries
 * @category    Libraries
 * @author      Xr8
 * @link        http://url.com
 */

.slider-1
    background: url(host-cdn'img/gym.jpg') 50% 0 no-repeat fixed
    height 300px      	