/* ==========================================================================
							MEDIAQUERIES
   ========================================================================== */

/**
 * Coment Coment Coment Coment Coment Coment Coment 
 * Coment Coment Coment Coment Coment Coment Coment. 
 *
 * @package     Css
 * @subpackage  Libraries
 * @category    Libraries
 * @author      Xr8
 * @link        http://url.com
 */

/*INVERTIR*/

/*
device screen height	web site safe area
							width	height
1 iphone portrait (480 px)	310 px	352 px
1 iphone landscape (320 px)	468 px	202 px

2 ipad portrait (1024 px)	750 px	920 px
2 ipad landscape (768 px)	1010 px	660 px

screen : 768 px				989 px	548 px
screen : 800 px				1245 px	580 px

screen : 864 px				1117 px	644 px
screen : 900 px				1405 px	680 px

screen : 1024 px			1245 xp	775 px

screen : 1050 px			1645 px	825 px
screen : 1080 px			1885 px	860 px
screen : 1200 px			1885 px	980 px

body
	width: 60%;
	@media res-1
		  width: 90%;
	@media res-2
		  width: 90%;
	@media res-3
		  width: 90%;
	@media res-4
		  width: 90%;
 */


/*Element*/

/*ID*/

/*Class*/

// Large screens
//@media only screen and (min-width: 64.1em) 

// Medium screens
//@media only screen and (min-width: 40.063em) and (max-width: 64em)

// Small screens
//@media only screen and (max-width: 40em)
