/*                                                                                    
                                 88                                                                                      
                                 88               ,d                                                                     
                                 88               88                                                                     
8b,dPPYba,   ,adPPYba,   ,adPPYb,88  ,adPPYba,  MM88MMM  ,adPPYYba,  8b,dPPYba,      ,adPPYba,  ,adPPYba,  ,adPPYba,     
88P'   "Y8  a8P_____88  a8"    `Y88  I8[    ""    88     ""     `Y8  88P'   "Y8     a8"     ""  I8[    ""  I8[    ""     
88          8PP"""""""  8b       88   `"Y8ba,     88     ,adPPPPP88  88             8b           `"Y8ba,    `"Y8ba,      
88          "8b,   ,aa  "8a,   ,d88  aa    ]8I    88,    88,    ,88  88             "8a,   ,aa  aa    ]8I  aa    ]8I     
88           `"Ybbd8"'   `"8bbdP"Y8  `"YbbdP"'    "Y888  `"8bbdP"Y8  88              `"Ybbd8"'  `"YbbdP"'  `"YbbdP"'     
                                                                                                                         
                                                                                                                         

width base: 950   -> 13 20 33 53 86  138 224 363 587 950
height base: 1500 -> 20 32 52 84 135 219 354 573 927 1500
"H" base: 6       -> 63 24 15 9  6

X1 0 ---> X2 950 
Y1 0 ---> Y2 610

Eje 'x' O ---> E : 1 2 4 7 12 20 33 53 85 138 224 363 587 950
Eje 'y' N ---> S : 1 2 3 5 8  13 21 34 55 89  144 233 377 610

*/
