//http://learnboost.github.io/
// cd D:\Xr8-Server\XR8\GYM\WEB\CDN\css\stylus
// compilar automagicamente
//stylus -u nib -c -w style.styl -o D:\Xr8-Server\XR8\GYM\WEB\CDN\css | -c, --compress | -w, --watch | . all dir
//stylus -u nib -w style.styl -o D:\Xr8-Server\XR8\GYM\WEB\CDN\css | -c, --compress | -w, --watch | . all dir
//stylus -C invertir.css
/* ==========================================================================
							STYLUS
   ========================================================================== */

/**
 * Coment Coment Coment Coment Coment Coment Coment 
 * Coment Coment Coment Coment Coment Coment Coment. 
 *
 * @package     Css
 * @subpackage  Libraries
 * @category    Libraries
 * @author      Xr8
 * @link        http://url.com
 */

/*IMPORT  */

/*NIB*/
@import 'nib'

vendor-prefixes = o ms moz xr8 webkit

@import 'vars.styl'
@import 'element.styl'
@import 'id.styl'
@import 'class.styl'
@import 'mediaqueries.styl'
@import 'font.styl'
@import 'animate.styl'

//@import 'animate.styl'
@import  'plug_all.styl'
@import  'stylus/full.css'

