/* ==========================================================================
							VARS
   ========================================================================== */

/**
 * Coment Coment Coment Coment Coment Coment Coment 
 * Coment Coment Coment Coment Coment Coment Coment. 
 *
 * @package     Css
 * @subpackage  Libraries
 * @category    Libraries
 * @author      Xr8
 * @link        http://url.com
 */
 
/*Host*/
host-cdn = "http://localhost/server/XR8/GYM/WEB/CDN/"
//host-cdn = "http://mar.luxza.com/CDN/"
//host-cdn   = "http://localhost/server/PHP/XR8-SELLERS/ELDUENODELMAR/ELDUENODELMAR-WEB/CDN/"

/*Media Queries*/
res-1 = "screen and (min-width: 768px)"
res-2 = "screen and (min-width: 48px) and (max-width: 768px)"
res-3 = "screen and (min-width: 321px) and (max-width: 480px)"
res-4 = "screen and (max-width: 320px)"

/*PALETA*/
//http://coolors.co/5e5473-19b5a5-ede89d-ff6933-ff0048
/*
coolors1 = #5E5473
coolors2 = #19B5A5
coolors3 = #EDE89D
coolors4 = #FF6933
coolors5 = #FF0048
*/
//http://coolors.co/04367b-c9b27b-2c171e-ed0414-da0f37
coolors1 = #04367B
coolors2 = #C9B27B
coolors3 = #2C171E
coolors4 = #ED0414
coolors5 = #DA0F37

coolors1-a = rgba(4,54,123,0.9)
coolors2-a = rgba(201,176,123,0.9)
coolors3-a = rgba(44,23,30,0.9)

